<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>TT-Norms-Pro-DemiBold.otf</string>
		<string>TT-Norms-Pro-Regular.otf</string>
		<string>TT-Norms-Pro-Normal.otf</string>
		<string>TT-Norms-Pro-Medium.otf</string>
		<string>TT-Norms-Pro-Italic.otf</string>
	</array>
</dict>
</plist>
